.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 10px;
    color: royalblue;
  }

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
  }
}

.pokemonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  button {
    margin: 40px 10px;
    padding: 10px;
    width: 25%;
    cursor: pointer;
  };
}